@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-family: "Roboto Mono", monospace;
}

main {
  min-width: 41em;
}
p {
  font-size: 1em;
  max-width: 41em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1em;
  font-weight: bold;
}

span {
  font-size: 1em;
}

div-border {
  border-style: solid;
  border-width: 1px;
}

#go-back a{
  position:fixed;
  font-size: 2em;
  left: 1em;
  top: 1em;
  text-decoration: none;
  color: black;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1em 1em;
}

.gallery_photo {
  height:1920px;
  max-height: 40vh;
}
