body {
  display: flex;
  flex-flow: column nowrap;

  align-items: center;
  justify-content: center;
  background-color: #EEEEEE;
}

h1 {
  font-family: sans-serif;
  font-size: 6em;
  color: #2800FF;
  display: block;
}

button, input {
  font-family: sans-serif;
  font-size: 1em;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5em 1em;
}

label {
  color: #000000;
  font-weight: bold;
}

.nav {
  width: 800px;
  display: flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: space-between;
}
